html,body {
    height: 100%;
}

body {
    background-image: url(cool-background\ \(2\).png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}

img {
   width: 5vw; 
   padding: 0vw 1vw;
   
}

.bold-title {
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 5vw;
    height: 80%;
    background: rgba(116, 172, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}
.card-container{
 /*    padding-left: 5em; */
 display: flex;
 align-items: center;
    justify-content: center;
    flex-direction: row;
}

h2,
h3 {
    text-align: center;
    color: black;
    margin-bottom: 0em;
}
span{
 color: rgb(16, 80, 255);
}

.btn-container {
    margin: 2vh 0vh 4vh 0vh;
    text-align: center;
    align-items: center;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(152, 255, 255);
    text-decoration: solid;
}

button:hover {
    background-color: aqua;
}

#input,#output{
    height: 55vh;
    width: 30vw;
}
footer {
    padding-top: 5vh;
}
a{
    color: rgb(51, 248, 248);
}

@media only screen and (max-width: 600px) {
   html,body{
    background: url(cool-background\ \(2\).png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
   }

    .container{
        height: 100%;
      /*   padding: 0;
        margin: 0; */
    /*     width: 100%; */
        border-radius: 1em;
         margin-top:1em;
       padding-top: 0em;
    }
   
    h2{
       font-size: larger;
       padding: 0 ;
      margin: 0; 
      font-weight: 700;
    }
    h2,h3{
        /* margin: 0vh 0vw;
        padding: 0; */
       /*  padding: 0.2em 0; */
     
    }
    h3 {
       /*  padding: 0vh 0vw 0vh 0vw; */
       font-size: large;
       
    }
   .card-container{
    flex-direction: column;
    padding: 0;
    border-radius: 1em;
   }
   #input,#output{
    height: 50vh;
    width: 80vw;
}
#output{
    height: 20vh;
    width: 80vw;
} */
img{
    width: 10vw;
}
.btn-container{
    padding: 0vh 0vh;
    margin-bottom: 0;
}
footer{
    padding: 0.5em;
}

  }